@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Red Hat Display", sans-serif;
  background: #fffdf8;
}

.newsletter {
  background: url("../public/wave.svg"),
    linear-gradient(
      rgba(96, 165, 250, var(--tw-bg-opacity)),
      rgba(96, 165, 250, var(--tw-bg-opacity))
    );
  background-size: cover;
}
.newsletter-circle {
  height: 60px;
  width: 60px;
  border: 5px solid #fff9f9;
  display: inline-flex;
  border-radius: 50%;
  background-color: rgba(96, 165, 250, var(--tw-bg-opacity));
}

.quality-gadgets {
  background: url("../public/wave.svg"), linear-gradient(#f7b24b, #f7b24b);
  background-size: cover;
  background-position: 50% 50%;
}

.tab-base {
  visibility: hidden;
}
.selected-tab .tab-base {
  visibility: visible;
}

.form-input {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
}

/* Form Page */
.form-page-container {
  background: url("../public/wave.svg"), linear-gradient(#00adee, #00adee);
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  min-height: 100vh;
  background-attachment: fixed;
}
